# Pandas

In [1]:
import pandas as pd

In [8]:
df = pd.read_csv('../workspace/entity-annotated-corpus/ner_dataset.csv', encoding = 'latin1')
df.head()

    Sentence #           Word  POS Tag
0  Sentence: 1      Thousands  NNS   O
1          NaN             of   IN   O
2          NaN  demonstrators  NNS   O
3          NaN           have  VBP   O
4          NaN        marched  VBN   O

In [11]:
df_subset = df[['Word', 'POS']]

In [12]:
df_subset.head()

            Word  POS
0      Thousands  NNS
1             of   IN
2  demonstrators  NNS
3           have  VBP
4        marched  VBN

In [14]:
# filter, just like spark DF
df[df['POS'] == 'NNS'].head()

     Sentence #           Word  POS Tag
0   Sentence: 1      Thousands  NNS   O
2           NaN  demonstrators  NNS   O
19          NaN         troops  NNS   O
24  Sentence: 2       Families  NNS   O
26          NaN       soldiers  NNS   O