# SciKit Learn
Great for preparing our data

In [10]:
import numpy as np
import pandas as pd
from sklearn.preprocessing import MinMaxScaler

In [3]:
data = np.random.randint(0, 100, (10,2))

In [4]:
data

array([[47, 52],
       [37, 97],
       [35, 83],
       [34, 34],
       [56, 81],
       [14, 59],
       [91, 72],
       [52, 15],
       [63, 70],
       [11, 74]])

In [6]:
scaler_model = MinMaxScaler()
type(scaler_model)

sklearn.preprocessing._data.MinMaxScaler

In [7]:
scaler_model.fit(data)

MinMaxScaler(copy=True, feature_range=(0, 1))

In [9]:
# for data normalization
scaler_model.transform(data)

array([[0.45      , 0.45121951],
       [0.325     , 1.        ],
       [0.3       , 0.82926829],
       [0.2875    , 0.23170732],
       [0.5625    , 0.80487805],
       [0.0375    , 0.53658537],
       [1.        , 0.69512195],
       [0.5125    , 0.        ],
       [0.65      , 0.67073171],
       [0.        , 0.7195122 ]])

In [19]:
my_data = np.random.randint(0, 101, (50,4))

In [17]:
df = pd.DataFrame(data=my_data, columns=['f1', 'f2', 'f3', 'label'])
df.head()

   f1  f2  f3  label
0  27  21  88      0
1  62  73  37     46
2  93  34  46     66
3  37  59  76     19
4  21  87  19     36

In [21]:
x = df[['f1','f2','f3']]

In [22]:
y = df['label']

In [25]:
from sklearn.model_selection import train_test_split

In [34]:
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.33)

In [37]:
# Feature: Training (x = feature, y = label)
x_train.size

99

In [36]:
x_test.size

51